

.p{
    background-color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   margin-left: 100px;
}

.p-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1500px;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
    overflow-y: hidden;
    
}

.p-items::-webkit-scrollbar {
    display: none;
}

.p-items .wigh{
    justify-content: space-between;
    overflow-x: scroll;
    overflow-y: hidden;
}


#p-title{
    text-align: center;
    font-size: 2.5rem;
    font-family: "Gotham","Arial","Helvetica Neue",Helvetica,sans-serif;
    padding-top: 45px;
    padding-bottom: 40px;
}

